[submodule "websocket-server"]
	path = websocket-server
	url = git://github.com/miksago/node-websocket-server.git
[submodule "socket.io"]
	path = socket.io
	url = https://github.com/LearnBoost/socket.io.git
[submodule "express"]
	path = express
	url = https://github.com/visionmedia/express.git
[submodule "socket.io-client"]
	path = socket.io-client
	url = https://github.com/LearnBoost/socket.io-client.git
[submodule "uglify-js"]
	path = uglify-js
	url = https://github.com/mishoo/UglifyJS.git
[submodule "jshint"]
	path = jshint
	url = https://github.com/jshint/jshint.git
[submodule "gzip"]
	path = gzip
	url = https://github.com/indutny/node.gzip.git
