[submodule "websocket-server"]
	path = websocket-server
	url = git://github.com/miksago/node-websocket-server.git
[submodule "socket.io"]
	path = socket.io
	url = https://github.com/LearnBoost/socket.io.git
[submodule "express"]
	path = express
	url = https://github.com/visionmedia/express.git
