html,body{
	margin:0;padding:0;
}
body{background-color: #F4F4F4;}
a{
	text-decoration: none; color:#333; line-height:1.6;
}
a:hover{
	text-decoration: underline;
}
i{
	font-size: 12px;
}
ul{
	list-style-type: none;
}
pre{
font:14px/ 1.6 Monaco, Consolas, 'Lucida Console', monospace;
}
h3{

font-family: "lucida grande","lucida sans unicode", sans-serif;
	display: inline; font-weight: normal; 
}
/* sidebar is directly  taken from backbone.js*/
#sidebar {
      background: #fff;
      position: fixed;
      top: 0; left: 0; bottom: 0;
      width: 180px;
      overflow-y: auto;
      overflow-x: hidden;
      padding: 15px 0 15px 15px;
      border-right: 1px solid #ddd;
      box-shadow: 0 0 20px #ccc; -webkit-box-shadow: 0 0 20px #ccc; -moz-box-shadow: 0 0 20px #ccc;
    }
 #links{
 list-style-position: inside; padding:15px 0 0 0; margin:0;
 	
 }
 #a{
 	margin-left:200px; 
 }
 .l{
 	border-bottom: 1px dotted #ccc;
 	padding:15px 0;
 	
 }
 

/* Pretty printing styles. Used with prettify.js. */

/* SPAN elements with the classes below are added by prettyprint. */
.pln { color: #000 }  /* plain text */

@media screen {
  .str { color: #080 }  /* string content */
  .kwd { color: #008 }  /* a keyword */
  .com { color: #800 }  /* a comment */
  .typ { color: #606 }  /* a type name */
  .lit { color: #066 }  /* a literal value */
  /* punctuation, lisp open bracket, lisp close bracket */
  .pun, .opn, .clo { color: #660 }
  .tag { color: #008 }  /* a markup tag name */
  .atn { color: #606 }  /* a markup attribute name */
  .atv { color: #080 }  /* a markup attribute value */
  .dec, .var { color: #606 }  /* a declaration; a variable name */
  .fun { color: red }  /* a function name */
}

/* Use higher contrast and text-weight for printable form. */
@media print, projection {
  .str { color: #060 }
  .kwd { color: #006; font-weight: bold }
  .com { color: #600; font-style: italic }
  .typ { color: #404; font-weight: bold }
  .lit { color: #044 }
  .pun, .opn, .clo { color: #440 }
  .tag { color: #006; font-weight: bold }
  .atn { color: #404 }
  .atv { color: #060 }
}

/* Put a border around prettyprinted code snippets. */
pre.prettyprint { padding: 2px; border: 1px solid #888 }

/* Specify class=linenums on a pre to get line numbering */
ol.linenums { margin-top: 0; margin-bottom: 0 } /* IE indents via margin-left */
li.L0,
li.L1,
li.L2,
li.L3,
li.L5,
li.L6,
li.L7,
li.L8 { list-style-type: none }
/* Alternate shading for lines */
li.L1,
li.L3,
li.L5,
li.L7,
li.L9 { background: #eee }
iframe{width:100%;height:100%;position:fixed;bottom:0;background: green;}
textarea{width:100%;}
